::before,::after,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F9A620;
}

/*Tete de la page*/
img#logoZOO{
    height: 100px;
    width: 100px;
    margin-top: 5px;
}
#HautHeader{
    background-color: #F9A620;
    height: 130px;
    border: #FFD449 solid 10px;
}
div#logo{
    height: 50px;
    width: 100px;
    margin-left: 10px;
}
div#titreduZOO{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
p#ZOOtete{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    font-style: oblique 10deg;
    
}
@media (max-width: 720px) {
    header{
        display: flex;
        justify-content: center;
        height: 240px;
    }
    
}

/*menu */

nav > ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
}

nav > ul > li{
	float: left;
}

.submenu{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

.menu-mobile{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

nav{
	width: 100%;
	background-color: #548C2F;
}

nav > ul > li{
	float: left;
	position: relative;
}

nav > ul::after{
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

.submenu li{
	border-bottom: 1px solid white;
}

.submenu li a {
	padding: 15px 30px;
	font-size: 13px;
	color: red;
	width: 270px;
}

.menu-html:hover{
	border-top: 5px solid #FFD449;
	background-color: #4c9252;
}

.menu-css:hover{
	border-top: 5px solid #FFD449;
	background-color: #4c9252;
}

.menu-js:hover{
	border-top: 5px solid #FFD449;
	background-color: #4c9252;
}

.menu-contact:hover{
	border-top: 5px solid #FFD449;
	background-color: #4c9252;
}

nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}

.menu-html .submenu{
	background-color: rgb(230, 100, 40);
}
.menu-css .submenu{
	background-color: #4c9252;
}
.menu-js .submenu{
	background-color: #4c9252;
}

.submenu li:hover a{
	color:pink;
	font-weight: bold;
}
.menu-html .submenu li:hover{
	background-color: #548C2F;
}
.menu-css .submenu li:hover{
	background-color: #548C2F;
}
.menu-js .submenu li:hover{
	background-color: #548C2F;
}

nav input[type=checkbox]:checked ~ ul{
	display: block;
}


/*Après le menu */

div#identificationDiv{
    height: 500px;
    width: 100%;
    background-color: #F9A620;
    border: #FFD449 solid 10px;
}

p#textidentification{
    text-decoration: underline;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:#333333;
}
h2{
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p#textremplir{
    color: #333333;
    font-size: 17px;
    font-style: oblique;
}

div#informationsemploye{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    color: #333333;
    font-size: 20px;
}

/*image */
img#animationphoto{
    height: 100%;
    width: 100%;
}
div#boutons{
   display: flex; 
   flex-direction: column;
   align-items: center;
}
input#ajoutbouton{
    height: 25px;
    width: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #548C2F;
}
/*Le pieds de la page */
footer{
    background-color: #F9A620;
    height: 100px;
    border: #FFD449 solid 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p#remerciments{
    font-size: 20px;
    color: #333333;
    font-style: oblique;
    display: flex;
    align-items: center;
    flex-direction: column;
}
